* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url("stop-watch3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container .timer {
  color: rgb(232, 166, 10);
  background-color:black;
  padding: 2rem 5rem;
  font-size: 5rem;
  border-radius: 2rem;
  border: 0.1rem dotted rgb(189, 167, 21);
  letter-spacing: 0.1rem;
}
.container .timer:hover {
    background-color:rgb(213, 212, 206);
    color:black;
    border: 0.1rem dotted rgb(11, 11, 10);

}
.handle {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
.handle button {
  background-color: rgb(199, 145, 9);
  padding: 0.9rem 2rem;
  font-size: 1.1rem;
  border:0.1rem solid black;
  color: white;
  border-radius: 0.5rem;
}
.handle button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}
.h1 {
  background-color:rgb(207, 148, 71);
  display:inline-block;
  border-radius: 10px;
  padding:8px;
  color:rgb(15, 14, 12);
  border:2px dotted rgb(9, 8, 1);
}
.h1:hover {
  color:rgb(8, 6, 6);
  background-color: rgb(228, 226, 224);
}
